:root {
    //fonts
    --font-family: Times, serif;
    --font-size-title: 30px;

    //colors
    --color: #fff;
    --color-button: black;

    --background-color-card: #ff1f1f;
    --background-color-details: rgb(204, 59, 59);

    --header-background-color: #cbc758;
    --header-hover: #ffcc00;

    --border-button: #333;
    --border-card-color: #ccc;
}
