:root {
    --font-family: Times, serif;
    --color: #fff;
    --color-button: black;
    --font-size-title: 30px;
    --border-card-color: #ccc;
    --background-color-card: #ff1f1f;
    --header-background-color: #cbc758;
    --header-hover: #ffcc00;
    --background-color-details: rgb(204, 59, 59);
    --border-button: #333;
}