.navbar {
  background-color: var(--header-background-color);
  color: var(--color);
  font-family: var(--font-family);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .imgWrapper {
      display: flex;
      .pokemonImg {
        width: 150px;
      }
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
      border: 1px solid var(--border-button);
      border-radius: 5px;
      color: var(--background-color-card);
      background-color: var(--background-color-logout-btn);
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;

      &:hover {
        background-color: var(--background-color-card-hover);
        border-color: var(--border-button);
      }

      &:focus {
        outline: none;
      }
    }

    .title {
      font-size: var(--font-size-title);
      font-weight: bold;
    }

    .list {
      list-style: none;
      margin: 0;
      padding: 0;
      .active-link {
        color: var(--header-hover);
      }

      .list-item {
        display: inline-block;
        margin-left: 20px;
        font-size: 22px;
        font-weight: bold;
        a {
          color: var(--color);
          text-decoration: none;

          &:hover {
            color: var(--header-hover);
          }
        }
      }
    }
  }
}