@import '../../../styles.scss';

.listTitleHolder{
    display: flex;
    flex-direction: column;
    @include centerTheItems;
    margin-top: 10px;
    padding-left: 60px;

    label {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
        font-family: var(--font-family);
        color: var(--color-card);
    }
    .listHolder{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
        li {
            border: 1px solid #ddd;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #f2f2f2;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            list-style-type: none;
            pointer-events: none;
            width: 100px;
            text-align: center;

            &:hover{
                background-color: #e0e0e0; //var
                cursor: pointer;
            }
        }
    }
}
.historyMessage{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 60px;
    font-family: var(--font-family);
    color: var(--color-card);
    display: flex;
    @include centerTheItems;
}

