<div >
    <div class="listTitleHolder" *ngIf="historyMessage === undefined; else elseBlock">
        <label for="title">{{ historyTitle }}</label>
        <ul class="listHolder">
            <li *ngFor="let history of recentSearch; let i = index">
                <label for="history">{{ history }}</label>
            </li>
        </ul>
    </div>
    <ng-template #elseBlock>
        <div class="historyMessage">
            <label for="emptyHistory">{{ historyMessage }}</label>
        </div>
    </ng-template>
</div>