<div *ngIf="pokemon" class="container">
    <div class="btnWrapper">
        <button class="button" (click)="onClick()">Back</button>
    </div>
    <div class="imgDetailsCon">
        <img src="{{pokemon.image}}" alt="">
        <div class="innerContainer">
            <div class="holder">
                <label for="name">Name : </label>
                <div class="containerName">
                    {{pokemon.name}}
                </div>
            </div>
            <div class="holder">
                <label for="types">Types : </label>
                <div class="containerType">
                    <ul>
                        <li class="listItem" *ngFor="let type of pokemon.types">
                            {{ type }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="holder">
                <label for="types">Abilities : </label>
                <div class="containerType">
                    <ul class="listWrapper">
                        <li class="listItem" *ngFor="let ability of pokemon.abilities">
                            {{ ability }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="holder">
                <label for="types">Height : </label>
                <div class="containerType">
                    {{ pokemon.height }}
                </div>
            </div>
            <div class="holder">
                <label for="types">Weight : </label>
                <div class="containerType">
                    {{ pokemon.weight }}
                </div>
            </div>
        </div>
    </div>
</div>